.App {
  background: linear-gradient(135deg, #44505c, #290cac);
  text-align: center;
  color: whitesmoke;
  font-family: 'Nova Flat', sans-serif;
  min-height: 100vh;
}

h1, h3 {
  text-align: center;
}

label {
  display: flex;
  flex-direction: column;
  margin-bottom: 10px;
}

button {
  background-color: transparent;
  border: 1px solid dodgerblue;
  color: dodgerblue;
  padding: 8px 10px;
  border-radius: 15px;
  cursor: pointer;
  margin-top: 10px;
}

button:hover {
  opacity: 0.5;
}

link:hover {
  opacity: 0.5;
}

/* Mobile */
@media (max-width: 480px) {

}

/* Extra small devices */
@media (min-width: 481px) and (max-width: 767px) {

}

/* Small tablets */
@media (min-width: 768px) and (max-width: 991px) {

}

/* Large tablets/laptops*/

@media (min-width: 992px) and (max-width: 1199px) {

}

/* Desktops */
@media (min-width: 1200px) and (max-width: 1919px) {

}

/* Extra large screens */
@media (min-width: 1920px) {

}